extends layout

block content
  h1 What's-iz-name
  div.leftContainer
    img(src="./images/#{imageSrc}")
  div.rightContainer Guess the name
        ul
          li
            a(href="./index/?vote=a") Koala
          li
            a(href="./index/?vote=b") Kooala
          li
            a(href="./index/?vote=c") Cooala
