extends layout

block content
  h1 The facegame
  form(action='/login',method='post')
      |Email &nbsp;
      input(type='text',name='email')
      br
      |Password &nbsp;
      input(type='password',name='password')
      br
      input(type='submit',value='LogIn')
