extends layout

block headers
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(type='text/javascript', src='/scripts/external/underscore-min-1.4.4.js')
    script(type='text/javascript', src='/scripts/external/createjs-2013.02.12.min.js')

    script(type='text/javascript', src="/scripts/game.js?v=4")
    script(type='text/javascript', src='/scripts/animate.js?v=4')

    script(type='text/javascript').
        //initialize
        (function () {
            $ ( document ).ready ( function () {
                var preLoad = new Game.PreLoad ( new Game.Animate ( 'scoreCanvas' , 'scoreBox' ) ) ;

                preLoad.overrideLinkAction ($ ( '#quizQustion a' ));
                //preload 2 questions
                preLoad.loadNextQuestions ( window.location.toString () );
            } );
        } ());

block content
    div(style="float:right;margin:2px 21px 0px 0px")
        a(href="/login") login
        | &nbsp;/&nbsp;
        a(href="/register") register
    |&nbsp
    h1(style='margin-bottom:0px;margin-top:0px') What's-iz-name

    canvas#scoreCanvas(height='89',width='233')
        div.score
            h1(id='scoreBox') Score #{score}

    div#quizQustion
        div.leftContainer
            img(src="#{imageSrc}")

        div.rightContainer Guess the name
            ul
                each link in links
                    li
                        a(href="#{link.href}")= link.text
