extends layout

block content
    h1 What's-iz-name
    div.leftContainer
        img(src="#{imageSrc}")

    div.rightContainer Guess the name
        ul
            each link in links
                li
                    a(href="#{link.href}")= link.text
