extends layout

block content
  h1 The facegame Registration
  form(action='/register',method='post')
      |Email &nbsp;
      input(type='text',name='email')
      br
      |Password &nbsp;
      input(type='password',name='password')
      br
      input(type='submit',value='Register')
