extends layout

block content
  h1 The facegame Registration
  form(action='/register',method='post')
    div
        span
            | Email
        input(type='text',name='email')
    div
        | Password &nbsp;
        input(type='password',name='password')
    span
      input(type='submit',value='Register')
