extends layout

block content
  h1 The facegame
  form(action='/register',method='post')
      |Email
      input(type='text',name='email')
      input(type='password',name='password')
      input(type='submit',value='Register')
